@model Order

@{
    ViewData["Title"] = "Детали";
}

<div class="card">
    <div class="card-header">
        <h1>Детали заказа</h1>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Номер заказа</dt>
            <dd class="col-sm-10">@Model.Id</dd>

            <dt class="col-sm-2">Город отправителя</dt>
            <dd class="col-sm-10">@Model.SenderCity</dd>

            <dt class="col-sm-2">Адрес отправителя</dt>
            <dd class="col-sm-10">@Model.SenderAddress</dd>

            <dt class="col-sm-2">Город получателя</dt>
            <dd class="col-sm-10">@Model.RecipientCity</dd>

            <dt class="col-sm-2">Адрес получателя</dt>
            <dd class="col-sm-10">@Model.RecipientAddress</dd>

            <dt class="col-sm-2">Вес</dt>
            <dd class="col-sm-10">@Model.Weight</dd>

            <dt class="col-sm-2">Дата приемки</dt>
            <dd class="col-sm-10">@Model.DateOfReceipt</dd>
        </dl>
        <a asp-controller="Order" asp-action="Index" class="btn btn-outline-primary">Вернуться к списку</a>

    </div>
</div>
