@model IEnumerable<Order>

@{
    ViewData["Title"] = "Заказы";
}

<div class="card">
    <div class="card-header">
        <h1>Список заказов</h1>
    </div>
    <div class="card-body">
        <div class="row pb-3">
            <div class="col-6">
                <input type="text" id="searchInput" class="form-control" placeholder="Поиск заказа..." />
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Order" asp-action="AddOrder" class="btn btn-outline-primary">
                    <i class="bi bi-plus-circle"></i> Добавить заказ
                </a>
            </div>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="text-center">Ничего не найдено</div>
        }
        else
        {
            <table class="table table-hover" id="orderTable">
                <thead>
                    <tr>
                        <th>Номер заказа</th>
                        <th>Город отправителя</th>
                        <th>Адрес отправителя</th>
                        <th>Город получателя</th>
                        <th>Адрес получателя</th>
                        <th>Дата приемки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr onclick="location.href='@Url.Action("Details", "Order", new { id = order.Id })'">
                            <td>@order.Id</td>
                            <td>@order.SenderCity</td>
                            <td>@order.SenderAddress</td>
                            <td>@order.RecipientCity</td>
                            <td>@order.RecipientAddress</td>
                            <td>@order.DateOfReceipt</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#orderTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
